@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header {
  background-image: linear-gradient(#8A2BE2, #FF00FF);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 96px;
}

.logo:hover {
  transform: rotatey(360deg);
  transition: 1s;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

h1:hover {
  transform: scale(1.05);
  color: aqua;
  text-shadow: 1.5px 1.5px 5px aquamarine;
  transition: 1s;
}

.nav {
  background-image: linear-gradient(#FF00FF, #8A2BE2);
  width: 100%;
}

.navbar-nav {
  text-align: center;
}


.main {
  background-image: radial-gradient(#45ff00, yellowgreen, green);
  padding: 20px;
}

.aside {
  background: repeating-linear-gradient(45deg, white, blue, red);
}

.aside ul {
  list-style: none;
  margin-top: 20%;
  color: yellow;
}

.aside ul li {
  transform: rotate(45deg);
}

.footer {
  background-image: linear-gradient(gold, orangered);
  text-align: center;
}

.redes i {
  color: #000;
  letter-spacing: 20px;
  font-size: 40px;
  margin: 10px 0 10px;
}

/* cambio scroll inicio */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, , 0, 0, 0.3);
  border-radius: 15px;
  background-color: #000;
} */

::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.9);
  background-color: rgb(43, 177, 64);
}